:root {
    --text-color-black: #050505;
    --text-color-white: #f5f5f5;
    /* old accent color #142D4C */
    /* --accent-color: #142D4C; */
    --accent-color: #13192B;
    --second-accent-color: #FF4918;
    --bg-color-light: #dddddd;
    --bg-color-lighter: #f1f1f1;
    --bg-color-mid-light: #afafaf;
    --bg-product-card: #fafafa;
    --bg-color-dark: #727272;
    --bg-color-darker:#444444;
    --bg-color-light-accent: #002d64;
    --bg-color-lighter-accent: #01418f;
    --bg-overlay: #000000ad;
    --navigation-bar-height: 82px;
    --offset: 50%;
    --default-font: Arial, 'Times New Roman';
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    scroll-behavior: smooth;
}
a {
    text-decoration: none; 
    color: var(--text-color-white);
}
.padding-top {
    padding-top: var(--navigation-bar-height);
}

/*----------Navigation Container CSS----------*/
.navbar {
    background-color: var(--accent-color);
    height: var(--navigation-bar-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 100px;
    position: fixed;
    z-index: 50;
}
.navbar .logo {
    height: var(--navigation-bar-height);
    width: 250px;
}
.navbar .logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}
.navbar ul li {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-family: Arial;
    font-weight: 600;
}
.navbar ul a:hover .underline::after{
    /* Underline in navigation links */
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--second-accent-color); /* Or your desired color */
    transition: 0.5s ease;
    cursor: pointer;
}
.navbar ul li a {
    color: white;
    display: flex;
    align-items: center;
}
.navbar ul li svg {
    /* Set the size of icons */
    height: 27px;
    width: 27px;
}
.navbar ul li svg:hover {
    cursor: pointer;
}
/* div for input */
.navbar ul li > .searchBarContainer {
    height: auto;
    width: 450px;
    margin-right: 10px;
    overflow-x: hidden;
    transition: 500ms ease;
    padding: 0;
}
.navbar ul li > .searchBarContainer input {
    width: 100%;
    font-size: 1rem;
    font-family: Arial;
    padding: 10px;
    border: none;
    border-radius: 50px;
}
.navbar ul li > .searchBarContainer input:focus {
    outline: none;
}
.navbar ul li > .active {
    /* Active State of search bar*/
    width: 450px;
    padding: 10px 20px;
    transition: 500ms ease;
}
.navbar ul .search {
    /* Container of search bar and search icon */
    display: flex;
    justify-content: flex-end;
    width: 500px;
}
/* Drop Down Menu Shop */
.navbar ul .shopLink > .dropDownShop {
    height: 0;
    width: 250px;
    background-color: var(--accent-color);
    position: absolute;
    transition: 1s ease;
    overflow-y: hidden;
}
.navbar ul .shopLink:hover .dropDownShop {
    height: 370px;
    width: 250px;
    justify-content: space-between;
    backdrop-filter: rgba(255, 192, 203, 0.39);
}
.navbar ul .shopLink > .dropDownShop ul {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.navbar ul .shopLink > .dropDownShop ul li {
    width: 250px;
    color: #f5f5f5;
    text-align: center;
    display: flex;
    justify-content: center;
}
.navbar ul .shopLink > .dropDownShop ul li:hover {
    background-color: #01418f;
    transition: 0.5s ease;
}

.navbar ul .userProfileDiv {
    position: relative;
}
.navbar ul .userProfileDiv .dropDownUser {
    display: none;
    background-color: var(--accent-color);
    margin-left: -50px;
    position: absolute;
    height: 250px;
    width: 200px;
    border-radius: 0 0 20px 20px;
} 
.navbar ul .userProfileDiv .active {
    display: block;
}
.navbar ul .userProfileDiv .dropDownUser .buttons {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-inline: auto;
}
.navbar ul .userProfileDiv .dropDownUser .buttons button {
    font: bold 1rem var(--default-font);
    color: var(--text-color-white);
    background-color: var(--second-accent-color);
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
}

.navbar ul .userProfileDiv .dropDownUser .loginProfile {
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.navbar ul .userProfileDiv .dropDownUser .loginProfile img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.navbar ul .userProfileDiv .dropDownUser .loginProfile h5 {
    font: bold 1rem var(--default-font);
    color: var(--text-color-white);
}
.navbar ul .userProfileDiv .dropDownUser .loginProfile span {
    font: 1rem var(--default-font);
    color: var(--text-color-white);
}
.navbar ul .userProfileDiv .dropDownUser .loginProfile button {
    font: bold 1rem var(--default-font);
    color: var(--text-color-white);
    background-color: var(--second-accent-color);
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
}

/* Content Container for Main Content */
.contentContainer {
    height: fit-content;
    width: 90%;
    padding: 20px;
    margin-inline: auto;
}
.content {
    height: 100vh;
    width: 100%;
}

/* Footer Content CSS */
footer {
    width: 100%;
}
footer .footerContent nav {
    height: calc(var(--navigation-bar-height) + 30px);
}
footer .footerContent nav > .footerLogo {
    height: var(--navigation-bar-height);
    width: 250px;
}
footer .footerContent nav > .footerLogo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
footer .footerContent .footerContact {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer .footerContent .footerContact > h5{
    display: flex;
    align-items: center;
    color: #f5f5f5;
    font-size: 0.875rem; 
    font-family: var(--default-font);
    padding: 5px;
    font-weight: 500;
}
footer .footerContent .footerContact h5 svg {
    margin-right: 10px;
}
footer .footerContent .copyright {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 100px;
    border-top: 3px white solid;
    background-color: var(--accent-color);
    color: #F5F5F5;
}
footer .footerContent .copyright span {
    font-size: 0.75rem;
    font-family: var(--default-font);
    font-weight: normal;
    color: var(--text-color-white);
}

/* Hero Banner Component CSS */
.heroSection {
    padding-top: var(--navigation-bar-height);
    height: 600px;
    width: 100%;
    position: relative;
}
.heroSection .heroBg {
    height: 100%;
    width: 100%;
    background-image: url(../assets/images/hero-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(.5);
    z-index: -1;
}
.heroSection h1 {
    position: absolute;
    top: var(--offset);
    left: var(--offset);
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: bold;
    font-family: var(--default-font);
    color: var(--text-color-white);
    text-align: center;
    z-index: 10;
}

/* Product Section Component CSS */
.productsSection {
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    margin-bottom: 100px;
    gap: 20px;
}
.productsSection .productList {
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, aut);
    grid-column-start: 2 span;
    gap: 20px;
    place-items: start;
    font-size: 3rem;
    font-weight: bold;
    font-family: var(--default-font);
}
/* Product Card Design */
.productsSection .productList > .product {
    background-color: var(--bg-product-card);
    height: 422px;
    width: 400px;
    transition: 0.5s ease;
    place-self: center;
}
.productsSection .productList > .product:hover {
    transition: 0.5 ease;
    box-shadow: 5px 5px 10px var(--bg-color-darker);
    transform: translate(-5px, -5px);
}
.productsSection .productList > .product img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 3px 5px var(--bg-color-darker);
}
.productsSection .productList > .product .productInfo {
    height: 20%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    place-items: start;
    align-content: center;
}
.productsSection .productList > .product .productInfo > h1, h2, h3 {
    font-family: Arial, 'Times New Roman';
}
.productsSection .productList > .product .productInfo > h1 {
    grid-column-start: span 2;
    font-size: 1rem;
    font-weight: normal;
    margin: 5px;
    margin-inline: 10px;
}
.productsSection .productList > .product .productInfo > h2 {
    place-self: start;
    align-self: center;
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin: 5px;
    margin-inline: 10px;
}
.productsSection .productList > .product .productInfo > h3 {
    font-size: 1rem;
    font-weight: normal;
    place-self: start;
    margin: 5px;
    margin-inline: 10px;
}

/* Home product section CSS */
.productsSection .productList > h1 {
    grid-column-start: 3 span;
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, 'Times New Roman';
    place-self: start;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
    place-items: center;
    gap: 20px;
    margin-bottom: 100px;
}
.productsSection .productList h1 > span {
    height: 5px;
    width: 100%;
    background-color: var(--text-color-black);
    display: block;
}
.productsSection button {
    grid-column-start: 2 span;
    background-color: var(--second-accent-color);
    border: none;
    padding: 15px 40px;
    place-self: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, 'Times New Roman';
    color: var(--text-color-white);
    margin-top: 50px;
    transition: 0.5s ease;
}
.productsSection button:hover {
    background-color: #ff1100;
}

/* Shop product section CSS */
.productsSection .filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}
.productsSection > .filter label {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, 'Times New Roman';
    margin-right: 10px;
}
.productsSection > .filter select {
    background-color: var(--bg-color-light);
    font-size: 1.5rem;
    font-family: Arial, 'Times New Roman';
    padding: 10px; 
    border: none;
    border-radius: 50px;
    transition: 0.5s ease;
}
.productsSection > .filter select:hover {
    background-color: var(--text-color-white);
    transition: 0.5s ease;
}
/* Contact Card Design */
.contactCard {
    height: 300px;
    width: 60%;
    padding: 20px;
    padding-block: 50px;
    border: var(--accent-color) solid 3px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    margin-block: 100px;
    transition: 0.5s ease;
}
/* .contactCard:hover {
    background-color: var(--bg-color-light-accent);
    color: var(--text-color-white);
    transform: scale(110%);

    h2 {
        color: var(--text-color-white);
    }
} */
.contactCard .iconContainer {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: grid;
    place-items: center;
    padding: 15px;
    margin-inline: auto;
}
.contactCard .iconContainer img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.contactCard > h1, h2 {
    font-family: var(--default-font);
    text-align: center;
}
.contactCard > h1 {
    margin-top: 50px;
    font-size: 1.5rem;
}
.contactCard > h2 {
    font-weight: normal;
    font-size: 1.25rem;
    transition: 0.5s ease;
}

/* Sign Up Modal Design */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bg-overlay);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.overlay .modal {
    background: var(--text-color-white);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 10px #0000001a;
    position: relative;
}
.overlay .modal .modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.overlay .modal .modal-header h1 {
    margin: 0;
    font: bold 1.5rem var(--default-font);
}
.overlay .modal .modal-header .close-btn {
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
}
.overlay .modal .modal-content form {
    display: flex;
    flex-direction: column;
}
.overlay .modal .modal-content label {
    font: 1rem var(--default-font);
    margin-top: 10px;
    margin-bottom: 5px;
}
.overlay .modal .modal-content input {
    padding: 10px;
    border: 1px solid var(--bg-color-mid-light);
    border-radius: 4px;
}
.overlay .modal .modal-content .main-btn {
    height: fit-content;
    width: fit-content;
    margin-inline: auto;
    background: var(--second-accent-color);
    color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
}
.overlay .modal .modal-content .social-login {
    text-align: center;
    margin-top: 20px;
}
.overlay .modal .modal-content .social-login .line {
    display: inline-block;
    width: 30%;
    border-top: 1px solid var(--bg-color-mid-light);
    margin: 0 10px;
}
.overlay .modal .modal-content .social-login span {
    font: 1rem var(--default-font);
}
.overlay .modal .modal-content .social-login .social-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
.overlay .modal .modal-content .social-login .other-way {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.overlay .modal .modal-content .social-login .other-way button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    border: black solid 2px;
}
.overlay .modal .modal-content .social-login .other-way button svg {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}
.overlay .modal .modal-content .modal-content .social-login .footer {
    text-align: center;
    margin-top: 20px;
}
.overlay .modal .modal-content .footer a {
    color: #ff5722;
    text-decoration: none;
}
.overlay .modal .modal-content .footer a:hover {
    text-decoration: underline;
}











/*----------Home page CSS----------*/

/* Home Hero Section */
#home {
    height: 110vh;
}

#home h1#homeIntro {
    font-size: 5rem;
    color: var(--text-color-white);
    width: 100%;
    top: 40%;
    transform: translate(-50%, -50%);
}
#home #homeDescription {
    position: absolute;
    display: block;
    width: 100%;
    font-size: 1.5rem;
    font-family: Arial, 'Times New Roman';
    color: var(--text-color-white);
    top: 52%;
    left: var(--offset);
    transform: translate(-50%, -50%);
    z-index: 10;
}
#home .wave {
    position: absolute;
    bottom: -50px;
    z-index: 10;
    outline: none;
    border: none;
}
#home .wave rect {
    border: none;
    outline: none;
}
#home button {
    position: absolute;
    top: 60%;
    left: var(--offset);
    transform: translate(-50%, -50%);
    background-color: var(--second-accent-color);
    font-size: 1.25rem;
    font-weight: bold;
    font-family: Arial, 'Times New Roman';
    padding: 15px 40px;
    border: var(--second-accent-color) solid 5px;
    border-radius: 100px;
    margin-top: 20px;
    transition: 0.5s ease;
    z-index: 20;
}
#home button {
    color: var(--text-color-white);
}
#home button:hover {
    background-color: #ff1100;
    border-color: #ff1100;
    cursor: pointer;
}

/*----------Home Main Content----------*/
/* Home Category Choices */
.home .categoriesSection {
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    place-items: center;
    gap: 20px;
    margin-block: 20px;
}
.home .categoriesSection > h2 {
    grid-column-start: 6 span;
    place-self: start;
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, 'Times New Roman';
    margin-bottom: 50px;
}
.home .categoriesSection > .category {
    background-color: transparent;
    height: 160px;
    width: 100%;
    border-radius: 50px;
    display: grid;
    place-items: center;
    transition: 0.5s ease;
}
/* Hover a category */
.home .categoriesSection > .category:hover {
    cursor: pointer;
    scale: 110%;

    svg path {
        fill: var(--second-accent-color);
    }
    svg .news {
        fill: var(--text-color-white);
        stroke: var(--second-accent-color);
    }
    span {
        color: var(--second-accent-color);
    }
}
.home .categoriesSection > .category > span {
    font-size: 1.125rem;
    font-weight: bold;
    font-family: Arial, 'Times New Roman';
    color: var(--text-color-black);
}

.banner2HomeSlider {
    height: 500px;
    overflow: hidden;
}
.banner2HomeSlider figure {
    height: 500px;
    width: 400%;
    position: relative;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
.banner2HomeSlider figure img {
    height: 100%;
    float: left;
    width: 25%;
}
@keyframes slider {
    0% {
        left: 0;
    }
    10% {
        left: 0;
    }
    20% {
        left: -100%;
    }
    30% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -300%;
    }
}

.testimonial {
    height: 100vh;
    width: 100%;
    background-color: var(--accent-color);
    position: relative;
}
.testimonial span {
    display: block;
    margin-inline: auto;
    font-size: 1.25rem;
    font-family: Arial, 'Times New Roman';
    font-weight: 500;
    color: #ffffff28;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}
.testimonial h1 {
    margin-inline: auto;
    font-size: 2.5rem;
    font-family: Arial, 'Times New Roman';
    font-weight: bold;
    color: var(--text-color-white);
    text-align: center;
    padding-bottom: 100px;
}
.testimonial .wave {
    position: absolute;
    bottom: 0;
}











/*----------Shop Page Design----------*/
.shop .searchResult {
    font-size: 1.25rem;
    font-family: var(--default-font);
    font-weight: 500;
    color: var(--text-color-black);
    display: none;
}
.shop .searchedComplete {
    display: block;
}










/*----------About Us page CSS----------*/
/* intro div */
.about .intro {
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: 50% repeat(2, 1fr);
    align-items: center;
    gap: 50px;
    margin-block: 100px;
}
.about .intro > div {
    font-weight: bold;
    font-family: 'Arial Black', 'Times New Roman';
}
.about .intro > div {
    font-size: 2.5rem;
}
.about .intro > div span {
    color: var(--accent-color);
}
.about .intro p {
    font-size: 1.25rem;
    font-family: Arial, 'Times New Roman';
}
/* mission div */
.about .mission {
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin-block: 200px;
}
.about .mission p {
    font-size: 1.25rem;
    font-family: Arial, 'Times New Roman';
    padding-inline: 10%;
}
.about .mission .imgReplace {
    background-color: #727272;
    height: 400px;
    width: 80%;
}
/* info div */
.about .info {
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    margin-block: 200px;
}
.about .info > h1 {
    place-self: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, 'Times New Roman';
}
.about .info > p {
    height: auto;
    width: 50%;
    place-self: center;
    font-size: 1.25rem;
    font-family: Arial, 'Times New Roman';
    text-align: center;
}
.about .info .imgContainer {
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 50px;
    gap: 20px;
}
/* choose us image size */
.about .chooseUs .imgContainer .imgReplace {
    background-color: #727272;
    height: 400px;
    width: 100%;
}
/* our team image size */
.about .ourTeam {
    margin-bottom: 100px;
}
.about .ourTeam .imgContainer .imgReplace {
    background-color: #727272;
    height: 500px;
    width: 100%;
}










/*----------Contact Page CSS----------*/
.contact .contacts {
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    place-items: center;
    margin-block: 100px;
}
.contact .contacts > h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--default-font);
    grid-column-start: 3 span;
    place-self: center;
}
.contact .contacts > p {
    font-size: 1.25rem;
    font-family: var(--default-font);
    grid-column-start: 3 span;
    place-self: center;
}
/* contact form design */
.contact form {
    height: 700px;
    width: 50%;
    margin-inline: auto;
    margin-block: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.contact form h1, p {
    text-align: center;
    font-family: var(--default-font);
}
.contact form h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px;
}
.contact form p {
    font-size: 1.25rem;
    font-weight: normal;
}
.contact form label {
    font-size: 1rem;
    font-family: var(--default-font);
}
.contact form input {
    background-color: var(--text-color-white);
    font-size: 1rem;
    font-weight: normal;
    font-family: var(--default-font);
    padding: 10px 15px;
    border: var(--bg-color-light-accent) solid 2px;
    border-radius: 50px;
}
.contact form  textarea {
    height: 250px;
    resize: none;
    font-size: 1rem;
    font-family: var(--default-font);
    padding: 20px;
    border: var(--bg-color-light-accent) solid 2px;
    border-radius: 30px;
}
.contact form button {
    background-color: var(--accent-color);
    font-size: 1.25rem;
    font-weight: bold;
    font-family: Arial, 'Times New Roman';
    color: var(--text-color-white);
    padding: 15px 30px;
    border: var(--accent-color) solid 3px;
    border-radius: 50px;
    width: fit-content;
    margin: auto;
    transition: 0.5s ease;
}
.contact form button:hover {
    background-color: transparent;
    color: var(--accent-color);
    transition: 0.5s ease;
}










/*----------FAQS Page Design----------*/
/* questions div css*/
.questions {
    height: fit-content;
    width: 100%;
    margin-block: 100px;
}
.questions > h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, 'Times New Roman';
    text-align: center;
}
/* accordions */
.questions .questionsContainer {
    height: fit-content;
    width: 70%;
    margin-inline: auto;
    margin-block: 100px;
}
.questions .questionsContainer .question {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.questions .questionsContainer .question button {
    background-color: var(--bg-color-light);
    font-size: 1.25rem;
    font-family: var(--default-font);
    font-weight: bold;
    padding: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    border: none;
    
}
/* Accordion Icon Close */
.questions .questionsContainer .question button span::after {
    content: '+';
}
.questions .questionsContainer .question button .activeSpan::after {
    content: '-';
}
.questions .questionsContainer .question > .description {
    background-color: var(--bg-color-light);
    height: 0;
    width: 100%;
    overflow-y: hidden;
    transition: 0.5s ease;
    font-size: 0.875rem;
    font-family: Arial, 'Times New Roman';
    text-align: left;
    padding: 0;
    margin-bottom: 2px;
}
.questions .questionsContainer .question > .active {
    height: 100px;
    padding: 20px;
}
/* reach us div */
.faqs .reachUs {
    height: fit-content;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-items: center;
    margin-block: 100px;
    margin-inline: auto;
}
.faqs .reachUs > h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, 'Times New Roman';
    text-align: center;
    grid-column-start: 2 span;
}
.faqs .reachUs > p {
    font-size: 1rem;
    font-family: Arial, 'Times New Roman';
    text-align: center;
    grid-column-start: 2 span;
}










/*----------Item details Page Design----------*/
.itemDetails .product {
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-items: center;
    justify-items: stretch;
    margin-bottom: 100px;
}
.itemDetails .product #back {
    background-color: transparent;
    grid-column-start: 2 span;
    place-self: start;
    width: fit-content;
    display: flex;
    align-items: center;
    border: none;

}
.itemDetails .product button img {
    height: 30px;
    width: 30px;
}
/* Product Image Design */
.itemDetails .product .productDetails .productImage {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.itemDetails .product .productDetails .productImage img {
    height: 550px;
    width: 100%;
    object-fit: contain;
}

/* Segment Design */
.itemDetails .product .productDetails .segment {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}
.itemDetails .product .productDetails .segment-button {
    padding: 10px 20px;
    border: none;
    border-bottom: 5px var(--bg-color-dark) solid;
    background-color: var(--bg-color-lighter);
    color: var(--bg-color-darker);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1rem;
    font-family: var(--default-font);
    font-weight: 500;

}
.itemDetails .product .productDetails .segment-button.active,
.segment-button:hover {
    border-bottom: 5px var(--text-color-black) solid;
    color: var(--text-color-black);
}
.itemDetails .product .productDetails .segment-content {
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--bg-color-light);
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 0.875rem;
    font-family: var(--default-font);
    font-weight: normal;
    color: var(--text-color-black);
    text-align: left;
}
.itemDetails .product .productDetails .segment-panel p {
    text-align: left;
    margin-bottom: 20px;
}
.itemDetails .product .productDetails .segment-panel {
    display: none;
}
.itemDetails .product .productDetails .segment-panel.active {
    display: block;
    height: fit-content;
    width: 100%;
}

/* Product Action Design */
.itemDetails .product .productAction {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.itemDetails .product .productAction h1 {
    font-size: 1.875rem;
    font-weight: 100;
    font-family: var(--default-font);
}
.itemDetails .product .productAction h2 {
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--default-font);
    text-align: left;
    margin: 0;
    padding: 0;
    margin-block: 20px;
}

/* Dropdown Checklist Design */
.itemDetails .product .productAction .dropdown {
    position: relative;
    display: inline-block;
    height: fit-content;
    width: 100%;
    border-bottom: var(--text-color-black) solid 2px;
    padding-block: 5px;
    margin-bottom: 20px;
}
.itemDetails .product .productAction .dropdown-toggle {
    background-color: transparent;
    height: fit-content;
    width: 100%;
    color: var(--text-color-black);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: left;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
}
.itemDetails .product .productAction .dropdown-toggle:focus {
    outline: none;
}
.itemDetails .product .productAction .dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--bg-color-lighter);
    border: 1px solid var(--bg-color-light);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    z-index: 1;
    margin-top: 5px;
    border-radius: 4px;
    width: 100%;
}
.itemDetails .product .productAction .dropdown-menu .dropdown-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.itemDetails .product .productAction .dropdown-menu .dropdown-item:hover {
    background-color: var(--bg-color-lighter);
}
.itemDetails .product .productAction .dropdown-menu input {
    margin-right: 10px;
}
.itemDetails .product .productAction .dropdown-menu .dropdown-item:hover {
    background-color: var(--bg-color-lighter);
}
.itemDetails .product .productAction .dropdown-menu input[type="checkbox"] {
    margin-right: 10px;
}
.itemDetails .product .productAction .dropdown-menu .dropdown-item .input-text {
    margin-left: 10px;
    flex-grow: 1;
    font-size: 0.875rem;
    padding: 5px;
}

.itemDetails .product .productAction label {
    font-size: 1.25rem;
    font-family: var(--default-font);
    font-weight: 500;
}

/* Logo Input Design */
.itemDetails .product .productAction .logoInput {
    display: flex;
    align-items: center;
    height: fit-content;
    width: 100%;
    border-bottom: var(--text-color-black) solid 2px;
    padding-block: 5px;
    margin-bottom: 20px;
}
.itemDetails .product .productAction .logoInput input {
    height: auto;
    width: 100%;
    margin-left: 10px;
    border: none;
    font-size: 0.875rem;
    padding: 10px 5px;
}
.itemDetails .product .productAction .logoInput input:focus {
    outline: none;
}

/* Text Area Container */
.itemDetails .product .productAction .textAreaContainer {
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;
}
/* Social Media and Contact Info Input Design */
.itemDetails .product .productAction div > textarea {
    resize: none;
    height: 100px;
    width: 100%;
    padding: 10px;
    font-size: 0.875rem;
    font-family: Arial, 'Times New Roman';
    margin-block: 10px;
    border: var(--text-color-black) solid 2px;
    border-radius: 5px;
}

/* Additional Instruction Input Design */
.itemDetails .product .productAction .additionalInput textarea {
    height: 200px;
    width: 100%;
}

/* Action Buttons Design */
.itemDetails .product .productAction .actionButtons {
    height: fit-content;
    width: fit-content;
    display: flex;
    margin-top: 20px;
}
.itemDetails .product .productAction .actionButtons .buy {
    background-color: var(--bg-color-light);
    padding: 15px 40px;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: Arial, 'Times New Roman';
    border: var(--text-color-black) solid 2px;
    margin-right: 20px;
    transition: 0.5s ease;
}
.itemDetails .product .productAction .actionButtons .buy:hover {
    background-color: var(--bg-color-dark);
}
.itemDetails .product .productAction .actionButtons .addToCart {
    background-color: var(--second-accent-color);
    color: var(--text-color-white);
    padding: 15px 40px;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: Arial, 'Times New Roman';
    border: var(--second-accent-color) solid 2px;
    margin-right: 20px;
    transition: 0.5s ease;
}
.itemDetails .product .productAction .actionButtons .addToCart:hover {
    background-color: transparent;
    color: var(--second-accent-color);
}
.itemDetails .product .productAction .actionButtons .toast {
    display: grid;
    place-items: center;
    height: 100%;
    width: fit-content;
    font-size: 1.5rem;
    font-family: var(--default-font);
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease;
}










/*----------Cart Page Design----------*/
.cart .hide {
    display: none;
}

/* Progress Bar Design */
.cart  #back {
    border: none;
    background-color: transparent;
}
.cart  #back:hover {
    cursor: pointer;
}
.cart  #back img {
    height: 30px;
    width: 30px;
    background-color: transparent;
}
.cart .progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 50%;
    margin-inline: auto;
    margin-top: 50px;
}
.cart .progress-bar {
    width: 100%;
    background-color: var(--bg-color-light);
    height: 10px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
}
.cart .progress {
    height: 100%;
    background-color: var(--second-accent-color);
    border-radius: 5px;
    width: 0;
    transition: width 0.3s ease;
}
.cart .progress-steps {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    top: -10px;
}
.cart .step {
    width: 50px;
    height: 50px;
    background-color: var(--bg-color-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-white);
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.cart .step svg {
    height: 50%;
    width: 50%;
}
.cart .step.active {
    background-color: var(--second-accent-color);
    color: var(--text-color-white);
}
/* Progress Labels */
.cart .progressLabels {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.cart .progressLabels span {
    display: block;
    width: 50px;
    height: fit-content;
    position: relative;
    padding-top: 10px;
}
.cart .progressLabels span h1 {
    position: absolute;
    top: var(--offset);
    left: var(--offset);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1rem;
    font-family: var(--default-font);
    font-weight: bold;
}

/* Added to Cart Component Design */
.cart .addedToCartItems .cart-container {
    height: fit-content;
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    margin-inline: auto;
    margin-top: 50px;
}

/* Cart Label Design */
.cart .addedToCartItems .cart-container .cartLabel {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
    margin-block: 20px;
    padding-block: 20px;
    border-bottom: var(--bg-color-mid-light) solid 1px;
}
.cart .addedToCartItems .cart-container .cartLabel label {
    place-self: start;
    align-self: center;
    font-size: 1rem;
    font-family: var(--default-font);
    font-weight: bold;
    color: var(--bg-color-dark);
    display: flex;
    align-items: center;
    
}
.cart .addedToCartItems .cart-container .cartLabel label input {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.cart .addedToCartItems .cart-container .cartLabel h1 {
    place-self: start;
    align-self: center;
    font-size: 1rem;
    font-family: var(--default-font);
    font-weight: bold;
    color: var(--bg-color-dark);
    grid-column-start: span 4;
    margin-left: 50px;
}
.cart .addedToCartItems .cart-container .cartLabel h2 {
    font-size: 1rem;
    font-family: var(--default-font);
    font-weight: bold;
    color: var(--bg-color-dark);
    place-self: start;
    grid-column-start: span 2;
    margin-left: 50px;
}

/* Cart List Design */
.cart .addedToCartItems .cart-container .cartList {
    height: 500px;
    width: 100%;
    overflow-y: auto;
}

/* Card Item Design */
.cart .addedToCartItems .cart-container .cartList .cart-item {
    display: grid;
    grid-template-columns: repeat(2, auto) repeat(5, 1fr);
    place-items: center;
    margin-bottom: 10px;
    column-gap: 50px;
    padding-bottom: 10px;
    border-bottom: var(--bg-color-mid-light) solid 2px;
}
.cart .addedToCartItems .cart-container .cartList .cart-item .item-checkbox {
    grid-row-start: span 5;
    margin: 0;
    height: 15px;
    width: 15px;
}
.cart .addedToCartItems .cart-container .cartList .cart-item img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    grid-row-start: span 5;
}
.cart .addedToCartItems .cart-container .cartList .cart-item h1 {
    grid-column-start: span 3;
    place-self: start;
    text-align: start;
    font-size: 0.875rem;
    font-family: var(--default-font);
    padding-block: 10px;
}
.cart .addedToCartItems .cart-container .cartList .cart-item h2 {
    grid-column-start: span 3;
    place-self: start;
    text-align: start;
    font-size: 0.75rem;
    font-weight: normal;
    color: var(--bg-color-dark);
    margin: 0;
    padding: 0;
}
.cart .addedToCartItems .cart-container .cartList .cart-item p {
    grid-column-start: span 3;
    place-self: start;
    text-align: start;
    font-size: 0.75rem;
    font-weight: 200;
    color: var(--bg-color-dark);
    padding-block: 10px;
}
.cart .addedToCartItems .cart-container .cartList .cart-item h3 {
    font-size: 1.25rem;
    font-family: var(--default-font);
    font-weight: bold;
    place-self: end;
    align-self: start;
    grid-row-start: span -3;
}
.cart .addedToCartItems .cart-container .cartList .cart-item svg {
    height: 24px;
    width: 24px;
    align-self: start;
    margin-inline: 50px;
}
/* Summary Cart Design */
.cart .addedToCartItems .summary {
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, auto);
    margin-top: 20px;
    margin-bottom: 100px;
}
.cart .addedToCartItems .summary span {
    grid-column-start: span 5;
    place-self: end;
    align-self: center;
    font-size: 1.5rem;
    font-family: var(--default-font);
    font-weight: 500;
}
.cart .addedToCartItems .summary h1 {
    place-self: center;
    font-size: 1.5rem;
    font-family: var(--default-font);
    font-weight: bold;
}
.cart .addedToCartItems .summary button {
    place-self: start;
    align-self: center;
    background-color: var(--second-accent-color);
    border: var(--second-accent-color) solid 3px;
    border-radius: 50px;
    font-size: 1.125rem;
    font-family: var(--default-font);
    font-weight: bold;
    color: var(--text-color-white);
    padding: 10px 30px;
    transition: background-color 0.5s ease;
}
.cart .addedToCartItems .summary button:hover {
    background-color: transparent;
    color: var(--second-accent-color);
}
/* End Added to Cart Component Design */

/* Check out Component Design */
.cart .checkOutComponent .checkOutContainer {
    height: fit-content;
    width: 70%;
    display: grid;
    grid-template-columns: auto repeat(2, 1fr);
    padding: 20px;
    margin-top: 30px;
    margin-inline: auto;
    column-gap: 20px;
}
/* Customer Details Design */
.cart .checkOutComponent .checkOutContainer .customerDetails {
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
    padding: 10px;
}
.cart .checkOutComponent .checkOutContainer .customerDetails h1 {
    font-size: 1.25rem;
    font-family: var(--default-font);
    font-weight: 500;
}
.cart .checkOutComponent .checkOutContainer .customerDetails span {
    grid-row-start: span 4;
    place-self: end;
    align-self: start;
    font-size: 0.75rem;
    font-family: var(--default-font);
    font-weight: bold;
    display: flex;
    align-items: center;
}
.cart .checkOutComponent .checkOutContainer .customerDetails span svg {
    height: 18px;
    width: 18px;
    margin-left: 10px;
}
.cart .checkOutComponent .checkOutContainer .customerDetails input {
    border: none;
    padding: 10px 0px;
    font-size: 0.75rem;
    font-family: var(--default-font);
    font-weight: normal;
    color: var(--text-color-black);
}
/* Order Summary Design */
.cart .checkOutComponent .checkOutContainer .orderSummary {
    grid-row-start: span 2;
    border: var(--bg-color-mid-light) solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.cart .checkOutComponent .checkOutContainer .orderSummary > h1 {
    font-size: 1.25rem;
    font-family: var(--default-font);
    font-weight: 500;
    text-align: center;
    margin: 20px;
    padding: 10px;
}
.cart .checkOutComponent .checkOutContainer .orderSummary .itemList {
    height: 400px;
    width: 100%;
    padding: 20px;
    overflow-y: auto;
    margin-bottom: auto;
}
.cart .checkOutComponent .checkOutContainer .orderSummary .itemList .item {
    width: 100%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.cart .checkOutComponent .checkOutContainer .orderSummary .itemList .item img {
    height: 70px;
    width: 70px;
    place-self: center;
}
.cart .checkOutComponent .checkOutContainer .orderSummary .itemList .item > div {
    align-self: center;
}
.cart .checkOutComponent .checkOutContainer .orderSummary .itemList .item > div > h1 {
    font-size: 0.75rem;
    font-family: var(--default-font);
    font-weight: 500;
    color: var(--text-color-black);
}
.cart .checkOutComponent .checkOutContainer .orderSummary .itemList .item > div > p {
    font-size: 0.825rem;
    font-family: var(--default-font);
    font-weight: 500;
    color: var(--bg-color-dark);
    text-align: left;
}
.cart .checkOutComponent .checkOutContainer .orderSummary .itemList .item > h2 {
    font-size: 1rem;
    font-family: var(--default-font);
    font-weight: bold;
    color: var(--text-color-black);
    text-align: left;
    place-self: center;
}
.cart .checkOutComponent .checkOutContainer .orderSummary .totalBox {
    height: fit-content;
    width: 90%;
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border-top: var(--text-color-black) solid 2px;
}
.cart .checkOutComponent .checkOutContainer .orderSummary .totalBox > span {
    font-size: 1rem;
    font-family: var(--default-font);
    font-weight: bold;
    color: var(--text-color-black);
}
.cart .checkOutComponent .checkOutContainer .orderSummary .totalBox > h5 {
    font-size: 1rem;
    font-family: var(--default-font);
    font-weight: bold;
    color: var(--text-color-black);
}
/* Payment Method Design */
.cart .checkOutComponent .checkOutContainer .paymentMethod {
    align-self: start;
    height: 100%;
}
.cart .checkOutComponent .checkOutContainer .paymentMethod > h1 {
    font-size: 1.25rem;
    font-family: var(--default-font);
    font-weight: bold;
    color: var(--text-color-black);
    margin-bottom: 20px;
    padding: 10px;
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods {
    height: fit-content;
    width: 100%;
    border: var(--bg-color-mid-light) solid 2px;
    padding-inline-end: 20px;
    padding-top: 20px;
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method .paymentDropdown {
    display: none;
}

.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method #gcashPayment, #paypalPayment {
    height: fit-content;
    width: 100%;
    max-width: 100%;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method #creditcardPayment {
    width: 100%;
    max-width: 100%;
    display: none;
    flex-direction: column;
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method #creditcardPayment .cardSelection {
    width: 100%;
    display: flex;
    margin-block: 10px;
    column-gap: 10px;
    padding-inline: 50px;
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method #creditcardPayment .cardSelection .credit-container {
    position: relative;
    display: inline-block;
    border: 2px solid var(--bg-color-mid-light);
    border-radius: 10px;
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method #creditcardPayment .cardSelection .credit-container img {
    display: block;
    max-width: 100px;
    margin: 0 auto;
    object-fit: contain;
    border-radius: 10px;
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method #creditcardPayment .cardSelection .credit-container .checkmark {
    position: absolute;
    top: -10px;
    right: -10px;
    background: white;
    border-radius: 50%;
    padding: 5px;
    display: none;
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method #creditcardPayment .creditCardInfo {
    display: flex;
    flex-direction: column;
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method #creditcardPayment .creditCardInfo .cardInputDetail {
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-inline: 50px;
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method #creditcardPayment .creditCardInfo .creditExpiration {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    padding-bottom: 10px;
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method #creditcardPayment .creditCardInfo .creditExpiration #expiryLabel {
    grid-column-start: span 2;
    padding-inline: 50px;
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method #creditcardPayment .creditCardInfo .creditExpiration select {
    font-size: 1rem;
    font-family: var(--default-font);
    padding-inline: 10px;
    padding-block: 5px;
    border: var(--text-color-black) solid 2px;
    border-radius: 5px;
    width: fit-content;
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method #creditcardPayment .creditCardInfo .creditExpiration #expiryMonth {
    margin-left: 50px;
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method #creditcardPayment .creditCardInfo .creditExpiration #ccv {
    width: 50%;
    padding: 5px;
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method .paymentDropdown label {
    font-size: 0.875rem;
    font-family: var(--default-font);
    font-weight: bold;
    margin-block: 10px;
} 
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method .paymentDropdown input {
    font-size: 1rem;
    font-family: var(--default-font);
    padding-inline: 10px;
    padding-block: 5px;
    border: var(--text-color-black) solid 2px;
    border-radius: 5px;
}

.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method .methodInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method .methodInfo > input {
    margin: 20px;
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method .methodInfo> div {
    display: block;
    flex-direction: column;
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method .methodInfo > div > h1 {
    font-size: 1rem;
    font-family: var(--default-font);
    font-weight: bold;
    color: var(--text-color-black);
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method .methodInfo > div > p {
    font-size: 0.825rem;
    font-family: var(--default-font);
    font-weight: normal;
    color: var(--bg-color-dark);
    text-align: left;
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method .methodInfo > div {
    font-size: 0.75rem;
    font-family: var(--default-font);
    font-weight: normal;
    color: var(--bg-color-dark);
}
.cart .checkOutComponent .checkOutContainer .paymentMethod .methods .method .methodInfo img {
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

.cart .checkOutComponent .checkOutContainer .back {
    grid-column-start: span 2;
    height: fit-content;
    width: fit-content;
    font-size: 1.125rem;
    font-family: var(--default-font);
    font-weight: normal;
    color: var(--text-color-black);
    background-color: transparent;
    border: var(--text-color-black) solid 3px;
    border-radius: 50px;
    padding: 15px 30px;
    margin-top: 50px;
    transition: 0.5s ease;
    margin-left: 70px;
}
.cart .checkOutComponent .checkOutContainer .placeOrder {
    height: fit-content;
    width: fit-content;
    font-size: 1.125rem;
    font-family: var(--default-font);
    font-weight: normal;
    color: var(--text-color-white);
    background-color: var(--second-accent-color);
    border: var(--second-accent-color) solid 3px;
    border-radius: 50px;
    padding: 15px 30px;
    margin-top: 50px;
    place-self: end;
    transition: 0.5s ease;
}
.cart .checkOutComponent .checkOutContainer .back:hover {
    background-color: var(--bg-color-mid-light);
}
.cart .checkOutComponent .checkOutContainer .placeOrder:hover {
    background-color: transparent;
    color: var(--second-accent-color);
}

/* End of Check out Component Design */

/* Confirmation Component Design */
.cart .confirmationComponent {
    height: 700px;
    width: 50%;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-inline: auto;
    position: relative;
}
.cart .confirmationComponent svg {
    height: 100px;
    width: 100px;
    margin-inline: auto;
    display: block;
}
.cart .confirmationComponent > h1, h2 {
    margin-inline: auto;
    font-size: 1.5rem;
    font-family: var(--default-font);
    font-weight: bold;
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: var(--text-color-black);
}
.cart .confirmationComponent > p {
    margin-inline: auto;
    font-size: 0.875rem;
    font-family: var(--default-font);
    font-weight: 500;
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: var(--text-color-black);
}
.cart .confirmationComponent .purchases {
    height: 300px;
    width: fit-content;
    overflow-y: auto;
    margin-inline: auto;
}
.cart .confirmationComponent .purchases .cart-item {
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
}
.cart .confirmationComponent .purchases .cart-item img {
    height: 70px;
    width: 70px;
    grid-row-start: span 2;
}
.cart .confirmationComponent .purchases .cart-item h1 {
    place-self: start;
    align-self: center;
    font-size: 1rem;
    font-family: var(--default-font);
    font-weight: 600;
    color: var(--text-color-black);
}
.cart .confirmationComponent .purchases .cart-item h3 {
    grid-row-start: span 2;
    place-self: center;
    font-size: 1rem;
    font-family: var(--default-font);
    font-weight: 600;
    color: var(--text-color-black);
}
.cart .confirmationComponent .purchases .cart-item h2 {
    grid-row-start: span 2;
    place-self: start;
    align-self: center;
    font-size: 0.825rem;
    font-family: var(--default-font);
    font-weight: 600;
    color: var(--bg-color-dark);
    text-align: left;
    margin: 0;
    padding: 0;
}
.cart .confirmationComponent button {
    background-color: var(--second-accent-color);
    border: var(--second-accent-color) solid 3px;
    border-radius: 50px;
    font-size: 1.125rem;
    font-family: var(--default-font);
    font-weight: bold;
    color: var(--text-color-white);
    padding: 10px 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s ease;
}
.cart .confirmationComponent button:hover {
    background-color: transparent;
    color: var(--second-accent-color);
}





/*----------Profile Page Design----------*/
.profile .profileContainer {
    height: 100%;
    width: 70%;
    display: grid;
    grid-template-columns: 300px auto;
    margin-inline: auto;
}
.profile .profileContainer aside ul {
    height: 100%;
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.profile .profileContainer aside ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--default-font);
}
.profile .profileContainer aside ul li:hover {
    cursor: pointer;
}
.profile .profileContainer aside ul li svg {
    height: 30px;
    width: 30px;
    margin-right: 20px;
}
.profile .profileContainer .active-nav {
    color: var(--second-accent-color); /* Change this to your desired color */
}
.profile .profileContainer .active-nav svg path {
    fill: var(--second-accent-color); /* Change this to your desired color */
}
.profile .profileContainer .active-content {
    display: block;
}
.profile .profileContainer .editProfile > div {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: fit-content repeat(3, auto);
}
.profile .profileContainer .editProfile h1 {
    font-size: 2rem;
    font-family: var(--default-font);
    font-weight: bold;
    align-self: center;
    padding-left: 50px;
}
.profile .profileContainer .editProfile .profilePicAndName {
    place-self: center;
    text-align: center;
    font: 1rem var(--default-font);
}
.profile .profileContainer .editProfile .profilePicAndName h5,
.profile .profileContainer .editProfile .profilePicAndName span {
    font: 1rem var(--default-font);
}
.profile .profileContainer .editProfile .profilePicAndName h5 {
    font-weight: bold;
} 
.profile .profileContainer .editProfile .profilePicAndName .profile-picture-container {
    position: relative;
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    border-radius: 50%;
    border: 2px solid #fff; /* Optional: Adds a border around the profile picture */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
    margin-bottom: 10px;
}
.profile .profileContainer .editProfile .profilePicAndName .profile-picture-container .profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.profile .profileContainer .editProfile .profilePicAndName .profile-picture-container .camera-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .5); /* Optional: Adds a subtle shadow */
}
.profile .profileContainer .editProfile .profilePicAndName .profile-picture-container .camera-icon svg {
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
}
.profile .profileContainer .editProfile .profileDetails form {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
    border-block: var(--bg-color-dark) solid 1px;
}
.profile .profileContainer .editProfile .profileDetails form label {
    font: bold 1rem var(--default-font);
    padding-block: 5px;
}
.profile .profileContainer .editProfile .profileDetails form input {
    font: 1rem var(--default-font);
    padding: 10px;
    border: var(--bg-color-dark) solid 1px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.profile .profileContainer .editProfile .profileDetails form input:focus {
    outline: none;
}
.profile .profileContainer .editProfile .profileDetails form > button {
    background-color: var(--second-accent-color);
    font: 1.2rem var(--default-font);
    width: fit-content;
    margin-inline: auto;
    padding: 15px 25px;
    border: none;
    border-radius: 50px;
    color: var(--text-color-white);
}
.profile .profileContainer .editProfile > div > button {
    height: fit-content;
    width: fit-content;
    background-color: var(--bg-color-lighter);
    font: 1.2rem var(--default-font);
    margin: auto;
    padding: 15px 25px;
    border: var(--second-accent-color) solid 2px;
    color: var(--second-accent-color);
}
.profile .profileContainer .changePass > div {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, auto);
}
.profile .profileContainer .changePass > div h1 {
    font: bold 2rem var(--default-font);
    padding-left: 50px;
    align-self: center;
}

.profile .profileContainer .changePass > div form {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-inline: auto;
    grid-row-start: span 3;
    margin-top: 50px;
}
.profile .profileContainer .changePass > div form label {
    font: bold 1rem var(--default-font);
    padding-block: 5px;
}
.profile .profileContainer .changePass > div form input {
    font: 1rem var(--default-font);
    padding: 10px;
    border: var(--bg-color-dark) solid 1px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.profile .profileContainer .changePass > div form button {
    background-color: var(--second-accent-color);
    font: 1.2rem var(--default-font);
    width: fit-content;
    margin-inline: auto;
    padding: 15px 25px;
    border: none;
    border-radius: 50px;
    color: var(--text-color-white);
}
.profile .profileContainer .myOrders > div {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, auto);
}
.profile .profileContainer .myOrders > div > h1 {
    font: bold 2rem var(--default-font);
    padding-left: 50px;
    align-self: center;
}
.profile .profileContainer .myOrders > div .orderList {
    height: 90%;
    width: 80%;
    margin-inline: auto;
    grid-row-start: span 3;
    overflow-y: auto;
}
.profile .profileContainer .myOrders > div .orderList .item {
    width: 100%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: var(--bg-color-dark) solid 2px;
}
.profile .profileContainer .myOrders > div .orderList .item img {
    height: 100px;
    width: 100px;
    place-self: center;
}
.profile .profileContainer .myOrders > div .orderList .item > div {
    align-self: center;
}
.profile .profileContainer .myOrders > div .orderList .item > div > h1 {
    font-size: 1.1rem;
    font-family: var(--default-font);
    font-weight: 500;
    color: var(--text-color-black);
}
.profile .profileContainer .myOrders > div .orderList .item > div > p {
    font-size: 1rem;
    font-family: var(--default-font);
    font-weight: 500;
    color: var(--bg-color-dark);
    text-align: left;
}
.profile .profileContainer .myOrders > div .orderList .item > h2 {
    font-size: 1.2rem;
    font-family: var(--default-font);
    font-weight: bold;
    color: var(--text-color-black);
    text-align: left;
    place-self: center;
}

.profile .profileContainer .logoutPrompt > div {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}
.profile .profileContainer .logoutPrompt > div .prompt {
    height: 50%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: var(--text-color-black) solid 2px;
}
.profile .profileContainer .logoutPrompt > div .prompt h1 {
    font: bold 2rem var(--default-font);
    align-self: center;
    text-align: center;
    grid-column-start: span 2;
}

.profile .profileContainer .logoutPrompt > div .prompt button {
    height: fit-content;
    width: fit-content;
    background-color: var(--second-accent-color);
    font: 1.2rem var(--default-font);
    margin-inline: auto;
    padding: 20px 50px;
    border: none;
    border-radius: 50px;
    color: var(--text-color-white);
    place-self: center;
}
.profile .profileContainer .logoutPrompt > div .prompt #cancel {
    background-color: var(--text-color-white);
    border: var(--text-color-black) solid 2px;
    color: var(--text-color-black);
}



